RewriteEngine On
RewriteRule ^dashboard index.php?halaman=dashboard
RewriteRule ^login login.php
RewriteRule ^logout logout.php
RewriteRule ^komentar index.php?halaman=komentar
RewriteRule ^tberita index.php?halaman=tberita
RewriteRule ^vberita index.php?halaman=vberita
RewriteRule ^eberita/([0-9a-zA-Z_-]+) index.php?halaman=eberita&id_posts=$1
RewriteRule ^tprestasi index.php?halaman=tprestasi
RewriteRule ^vprestasi index.php?halaman=vprestasi
RewriteRule ^eprestasi/([0-9a-zA-Z_-]+) index.php?halaman=eprestasi&id_posts=$1
RewriteRule ^vpengumuman index.php?halaman=vpengumuman
RewriteRule ^vgaleri index.php?halaman=vgaleri
RewriteRule ^vartikel index.php?halaman=vartikel
RewriteRule ^tartikel index.php?halaman=tartikel
RewriteRule ^eartikel/([0-9a-zA-Z_-]+) index.php?halaman=eartikel&id_posts=$1
RewriteRule ^vjurusan index.php?halaman=vjurusan
RewriteRule ^tjurusan index.php?halaman=tjurusan
RewriteRule ^ejurusan/([0-9a-zA-Z_-]+) index.php?halaman=ejurusan&id=$1
RewriteRule ^visimisi index.php?halaman=visimisi
RewriteRule ^sapras index.php?halaman=sapras
RewriteRule ^keanggotaan index.php?halaman=keanggotaan
RewriteRule ^tkeanggotaan index.php?halaman=tkeanggotaan
RewriteRule ^ekeanggotaan/([0-9a-zA-Z_-]+) index.php?halaman=ekeanggotaan&id=$1
RewriteRule ^kemitraan index.php?halaman=kemitraan
RewriteRule ^kepsek index.php?halaman=kepsek
RewriteRule ^komite index.php?halaman=komite
RewriteRule ^pbm index.php?halaman=pbm